{% extends 'transfer/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'transfer/download_styles.css' %}">
{% endblock %}

{% block content %}

<div class="box">
<h1> Download </h1>

{% if not submitted %} 
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ downloadForm.code }}
        <input type="submit" name="submit"> 
    </form> 
{% endif %}

{% if submitted %} <a href="{{file_url}}" download> <button> Click Here! </button> </a> {% endif %}
</div>

{% endblock %}
 