<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FileTransfer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'transfer/download_styles.css' %}">
    </head>
    <body>
        <div class="box">
        <h1> Download </h1>

        {% if not submitted %} 
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ downloadForm.code }}
                <input type="submit" class="btn btn-primary btn-lg" name="submit"> 
            </form> 
        {% endif %}

        {% if submitted %} <a href="{{file_url}}" download> <button> Click Here! </button> </a> {% endif %}
        </div>
        
        <script src="" async defer></script>
    </body>
</html>