{% extends 'transfer/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'transfer/upload_styles.css' %}">
{% endblock %}

{%block content %}

<div class="box">

{% if not uploaded %}

<form method="POST" enctype="multipart/form-data">
    <h1> Upload File </h1>
    {% csrf_token %}
    {{ form.fileName }}
    {{ form.description }}

    {{ form.doc }}    
    <button type="button" id="custom-btn"> Select... </button> 

    <input type="submit" name="submit" value="Upload">
</form>
<script src="{% static 'transfer/uploadButton.js' %}"> </script>
{% endif %}

{% if uploaded %}
    <h1> Copy Code </h1>
    <button type="button" id="copy-btn"> {{ serial }} </button>
    <script src="{% static 'transfer/copyButton.js' %}"> </script>
{% endif %}
</div>

{% endblock %}