body {
background-color: #2C2B30;
padding: 0;
margin: 0;
text-align: center;
}

.box h1 {
    color: white;
}

.box {
    padding: 40px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2C2B30;
}

.box button[type="submit"] {
    border: 0;
    width: 200px;
    background: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: 2px solid #F58F7C;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    font-size: 15px;
}

.box button[type="submit"]:hover {
    background: #F58F7C;
    cursor: pointer;
}