nav {
    width: 100vw;
    background-color: #252624;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    display: flex;  
}

li {
    list-style-type: none;
    margin: 2vw 0;
    font-size: 2vh;
}

li > a {
    text-decoration: none;
    color: #F58F7C;
    padding: 2vw;
}

li > a:hover {
    background-color: #2C2B30;
}